name = "autodiscover-cloudflare-worker"
type = "javascript"
zone_id = ""
account_id = ""
route = ""
workers_dev = true

# Environment Example:
[env.prod]
zone_id = "_your_zone_id_" # The ID of the domain to deploying to
# Routes worker application will be served at. Can be multiple 'routes' or singular 'route'.
routes = ["example.tld/*", "example.tld/another/*"] # Multiple routes pattern example
# route = "example.tld/*" # Singular route patten example
# Define the ENV Vars for this environment
vars = {
  COMPANY_NAME = "",
  SUPPORT_URL = "",
  DOMAIN = "",
  IMAP_HOST = "",
  IMAP_PORT = "",
  IMAP_SOCKET = "",
  POP_HOST = "",
  POP_PORT = "",
  POP_SOCKET = "",
  SMTP_HOST = "",
  SMTP_PORT = "",
  SMTP_SOCKET = "",
  MOBILESYNC_URL = "",
  MOBILESYNC_NAME = "",
  LDAP_HOST = "",
  LDAP_PORT = "",
  LDAP_SOCKET = "",
  LDAP_BASE = "",
  LDAP_USER_FIELD = "",
  LDAP_USER_BASE = "",
  LDAP_SEARCH = "",
  PROFILE_IDENTIFIER = "",
  PROFILE_UUID = "",
  MAIL_UUID = "",
  LDAP_UUID = ""
}

[build]
command = "npm install && npm run build"
[build.upload]
format = "service-worker"
