name = "autodiscover-cloudflare-worker"
type = "javascript"
account_id = ""
workers_dev = true

# Environment
[env.prod]
#zone_id = "_your_zone_id_" # The ID of the domain to deploying to
# Routes worker application will be served at. Can be multiple 'routes' or singular 'route'.
#routes = ["example.tld/*", "example.tld/another/*"] # Multiple routes pattern
# route = "example.tld/*" # Singular route patten

# Define the ENV Vars for this environment
[env.prod.vars]
__COMPANY_NAME__ = ""
__SUPPORT_URL__ = "https://example.tld"
__DOMAIN__ = "georgiaplaces.com"
__IMAP_HOST__ = "imap.example.tld"
__IMAP_PORT__ = "993"
__IMAP_SOCKET__ = "SSL"
__POP_HOST__ = "pop.example.tld"
__POP_PORT__ = "995"
__POP_SOCKET__ = "SSL"
__SMTP_HOST__ = "smtp.example.tld"
__SMTP_PORT__ = "587"
__SMTP_SOCKET__ = "SSL"
__MOBILESYNC_URL__ = ""
__MOBILESYNC_NAME__ = ""
__LDAP_HOST__ = ""
__LDAP_PORT__ = ""
__LDAP_SOCKET__ = ""
__LDAP_BASE__ = ""
__LDAP_USER_FIELD__ = ""
__LDAP_USER_BASE__ = ""
__LDAP_SEARCH__ = ""
__PROFILE_IDENTIFIER__ = "tld.example.autodiscover"
__PROFILE_UUID__ = ""
__MAIL_UUID__ = ""
__LDAP_UUID__ = ""

[build]
command = "npm install && npm run build"
[build.upload]
format = "service-worker"
